#contact{
    height: auto;
    width: 100%;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.contact-section{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: wheat;
    padding-bottom: 20px;
}
.contact-form-container{
    height: 250px;
    width: 350px;
}
#contact-form input{
    display: block;
    margin-bottom: 20px;
}

.address{
    height: auto;
    width: 40%;
}


.sub-btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #contact-form input ,textarea {
      border: 2px solid transparent;
      border-bottom: 2px solid black;
      background-color: transparent;
      color: whitesmoke;
      font-size: 1.2rem;
      width: 90%;
  }
  #contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}


