body{
    margin: 0px;
}

.fixed{
    width: 100%;
    height: 80px;
}
/* main heading */
.heading{
    height: 80px; ;
    width: 100%;
    background-color: blue ;
    display: flex ;
    justify-content: space-between ;
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
/* home and logo */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
}
#home a{
    text-decoration: none ;
    color: white ;
}
.fa-home{
    font-weight: 800;
    font-size: 1.5rem;
    padding-left: 15px;
}
/* navigation menu */
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 80%;
}

.nav-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none ;
    height: inherit;
    width: inherit;
}

.nav-menu-list-items{
    
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-menu-list-items a{
    text-decoration: none;
    color: white ;
    transition: all 2s;
}
.nav-menu-list-items a:hover{
    color: red;
}

/* main body container */
.main-body-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/90653.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    /* top: 10px; */
}
.name-social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#my-name{
    font-size: 5rem;
    font-weight: 700 ;
    /* padding-top: 25vh; */
    color: white ;
    text-align: center;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px auto 200px ;
}

.social-icon-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    color: white;

}

.social-icon-list-items a{
    color: white;
}

.fab{
    font-size: 2rem;
}

/* .social-icons li a i{
    padding: 1vh;
    font-size: 1.5rem;
    border-radius: 50%;
}*/
.fab:hover{
    box-shadow: 0px 0px 6px 4px rgba(7, 40, 129, 0.3);

} 