@media screen and (max-width : 900px){
    
    
}


@media screen and (max-width : 700px){
    #my-name{
        font-size: 4rem;
        font-weight: 700 ;
        /* padding-top: 25vh; */
        color: white ;
        text-align: center;
        margin: 80px auto 40px;
    }
    .fab{
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 550px){

.back{
    height: 400px;
    width: 400px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    margin: 30px 50px ;
    /* border: 2px solid gray; */
}

.under{
    /* position: relative; */
    height: 200px;
    width: inherit;
    background-image: linear-gradient(blue,cyan);
    color: #fff; 
    border-radius: 0px;
    border: none;
    display: inline-block ;
}
    .upper{
        height: 200px ;
        width: inherit ;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        top: 0px;
        left: 0px;
        transition: all 1s ease-in-out;
        border: 2px solid black;
        box-sizing: border-box;
    }
    
    .games{
        background-image: url("images/vector-illustration-neon-future-game-260nw-1861318969.jpg");
        background-repeat: no-repeat;
        background-size: 400px 200px;
    }
    
    .resume__project{
        background-image: url("images/download.jfif");
        background-repeat: no-repeat;
        background-size: 400px 200px;
    }
    
    .gym__website{
        background-image: url("images/gym.jfif");
        background-repeat: no-repeat;
        background-size: 400px 200px;
    }
    
    .calculator{
        background-image: url("images/calculator.png");
        background-repeat: no-repeat;
        background-size: 400px 200px;
    }
}