#portfolio{
    height: auto;
    width: 100%;
    /* background-color: #c449c2; */
    padding-bottom: 20px;
}

.projects{
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.back{
    height: 250px;
    width: 450px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    margin-bottom: 40px;
    /* border: 2px solid gray; */
}

.under{
    /* position: relative; */
    height: inherit;
    width: inherit;
    background-image: linear-gradient(blue,cyan);
    color: #fff; 
    border-radius: 5px;
    border: none;
    display: inline-block ;
}
.upper{
    height: inherit ;
    width: inherit ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 1s ease-in-out;
    border: 2px solid black;
}

.games{
    background-image: url("images/vector-illustration-neon-future-game-260nw-1861318969.jpg");
    background-repeat: no-repeat;
    background-size: 450px 250px;
}

.resume__project{
    background-image: url("images/download.jfif");
    background-repeat: no-repeat;
    background-size: 450px 250px;
}

.gym__website{
    background-image: url("images/gym.jfif");
    background-repeat: no-repeat;
    background-size: 450px 250px;
}

.calculator{
    background-image: url("images/calculator.png");
    background-repeat: no-repeat;
    background-size: 450px 250px;
}
.content{
    height: 250px;
    width: 375px ;
    margin-left: 75px;
    /* background-color: yellow; */
}
.main-para{
    height: 150px;
    width: 375px ;
    font-size: 1.5rem;
    text-align: left;
}
.placed{
    height: 50px;
    width: 375px;
    margin: 5px 0px;
}
.placed button{
    background-color: transparent; 
    border: 2px solid gray;
    border-radius: 10px;
    color: red;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 800;
    margin-left: 5%;
  }

.placed button:hover {
    background: white;
    color: #13386fe0;
}

.button__link{
    display: inline-block ;
    height: inherit;
    width: inherit;
    text-decoration: none;
    color: red;
    /* padding: 15px 32px; */
}
/* @media screen and (max-width: 600px){
    .upper{
        height: inherit ;
        width: 75px ;
        background-image: url("images/238.jpg");
        background-repeat: no-repeat;
        background-size: 75px 250px;
        border-radius: 5px;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 1s ease-in-out;
    }
} */