#skills{
    height: auto;
    width: 100%;
    padding: 30px;
    background-image: linear-gradient(cyan ,blue);
    
}

.skill-section{
    height: auto;
    width: 70vw;
    margin: auto;
}

.block{
    display: inline-block;
    height: 1.5rem;
    width: 100px;
    background-color: gray;
    vertical-align: middle;
    border: 1px solid grey;
    border-radius: 15px;
    overflow:hidden ;
    margin: 30px 0px 30px 110px;
}
.skill-name{
    font-size: 1.2rem;
    font-weight: 200;
    color: aqua;
}
.red{
    background-color: red;
    text-align: center;
}
.eighty-percent{
    height: inherit;
    width: 80%;
}

.blue{
    background-color: blue;
    text-align: center;
}
.seventy-percent{
    height: inherit;
    width: 70%;
}


.yello{
    background-color: yellow;
    text-align: center;
}
.ten-percent{
    height: inherit;
    width: 10%;
}

.green-black{
    background-color: green;
    text-align: center;
}

.twenty-percent{
    height: inherit;
    width: 20%;
}

.orange{
    background-color: orange;
    text-align: center;
}
.sixty-percent{
    height: inherit;
    width: 60%;
}