#skills{
    height: auto;
    width: 100%;
    background-image: linear-gradient(cyan ,blue);
    
}

.skill-section{
    height: auto;
    width: 70vw;
    margin: auto;
}
.displayflex{
    display: flex ;
    justify-content: space-around ;
    flex-wrap: wrap;
}
.block{
    height: 30px;
    width: 150px;
    background-color: gray;
    border: 1px solid grey;
    border-radius: 15px;
    overflow:hidden ;
    margin: 50px ;
}
.skill-name{
    font-size: 1.2rem;
    font-weight: 200;
    color: aqua;
}

.red{
    background-color: red;
    text-align: center;
}


.blue{
    background-color: blue;
    text-align: center;
}


.yellow{
    background-color: yellow;
    text-align: center;
}


.green-black{
    background-color: green;
    text-align: center;
}



.orange{
    background-color: orange;
    text-align: center;
}

.block2{
    height: inherit ;
    width: 0%;
    transition: all 2s ;
}
